@import url('http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
body{
    margin: 0;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(gedung.jpg);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

ul {
    margin-left: -45px;
}
li {
    list-style: none;
    display: inline-block;
}
.main{
    width: 800px;
    height: 500px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1 px solid #eeeeee;
}
.img1 {
    background-image: url(Rahmat.jpg);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
.img2 {
    background-image: url(zaky.png);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
.img3 {
    background-image: url(bogy1.jpg);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 140px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
.img4 {
  background-image: url(Habib.jpg);
  background-color: #eaeaea;
  background-size: cover;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #eaeaea;
}
h1 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: #2837bd;
}
.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
}
p {
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e;
}

/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1.5s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
        